<%inherit file="/base.html"/>

<%block name='head'>
	<title>APP统一管理</title>
	${parent.head()}
</%block>

<%block name="content">
	<div data-spy="scroll" class="dataclass">
		<h4 id="install_eo"><i class="no-num">1</i>QQ</h4>
		<div class="mt10 mb20 wm">
			<strong>QQ: </strong>
			<a href="#" id="contact_us" class="t_s14">联系我们</a>
			<br>
		</div>
		<h4 id="install_eo"><i class="no-num">2</i>邮箱</h4>
		<div class="mt10 mb20 wm">
			<strong>邮箱: </strong>contactus_bk@tencent.com<br>
		</div>
	</div>
</%block>
 <!-- WPA js start -->
<script src="//wp.qiye.qq.com/loader/4.0.0.js" charset="utf-8"></script>
<script type="text/javascript">
 try{
 	__WPA.create({
        nameAccount:"800802001",
        customEle: document.getElementById('contact_us')
    })
 }catch(err){}
</script>
<!-- WPA js end -->

